<!DOCTYPE html>
<html lang="en">
<title>item catalog tool > category items</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
      <a href="{{url_for('showHome')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-left">Home</a>
    {%if 'username' not in session %}
    <a href="{{url_for('showLogin')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-right">Login</a>
    {% else %}
    <a href="{{url_for('showAddItem')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-left">Add Item</a>
    <a href="{{url_for('disconnect')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-right">Logout</a>
    {% endif %}
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding:32px 128px">
  <h1 class="w3-margin w3-jumbo">Literary Genres</h1>
</header>

<!-- content -->
<div class="w3-row-padding w3-padding-16 w3-grayscale">

<!-- categories -->
  <div class="w3-col m6 w3-margin-bottom">
    <div class="w3-light-grey">
      <div class="w3-container">
        <h1 class="w3-xlarge w3-text-blue"><b>Categories</b></h1>
        {% for c in categories %}
        <div>
          <ul class="w3-ul">
              <li><a href='{{url_for('showItemsByCategory', category_name=c.name)}}'>{{c.name}}</a></li>
          <ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


<!-- items -->
  <div class="w3-col m6 w3-margin-bottom">
    <div class="w3-light-grey">
      <div class="w3-container">
        <h1 class="w3-xlarge w3-text-blue"><b>{{category.name}} items({{items.count()}})</b></h1>
        {% for item in items %}
        <div>
          <ul class="w3-ul">
              <li><a href='{{url_for('showItemDetail', category_name=category.name, item_name=item.name)}}'>{{item.name}}</a></li>
          <ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

</body>
</html>
