<html lang="en">
<title>udacity item catalog project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><b>Literary Genres</b></h1>
    </div>

    <!-- categories -->
    <div class="w3-container" id="categories" style="margin-top:25px">
      <h1 class="w3-xxxlarge w3-text-blue"><b>Categories</b></h1>
      {% for category in categories %}
      <div>
        <a href='{{url_for('showItemsByCategory', category_name=category.name)}}'>{{category.name}}</a>
      </div>
      {% endfor %}

      <a href='{{url_for('showHome')}}'><button type="button">Home</button></a>
    </div>

    <!-- category items -->
    <div class="w3-container" id="latest novels" style="margin-top:25px">
      <h1 class="w3-xxxlarge w3-text-blue"><b>{{category.name}} items({{items.count()}})</b></h1>

      {% for item in items %}
        <div>
        <a href='{{url_for('showItemDetail', category_name=category.name, item_name=item.name)}}'>{{item.name}}</a>
        </div>
      {% endfor %}
    </div>

<!-- End page content -->
</div>

</body>
</html>
