<!DOCTYPE html>
<html lang="en">
<title>item catalog tool > update item</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
      <a href="{{url_for('showHome')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-left">Home</a>
    {%if 'username' not in session %}
    <a href="{{url_for('showLogin')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-right">Login</a>
    {% else %}
    <a href="{{url_for('disconnect')}}" class="w3-bar-item w3-button w3-padding-medium w3-white w3-right">Logout</a>
    {% endif %}
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding:32px 128px">
  <h1 class="w3-margin w3-jumbo">Literary Genres</h1>
</header>

<!-- content -->
<div class="w3-row-padding w3-padding-16 w3-grayscale">

<!-- item detail -->
<div class="w3-row-padding w3-padding-32 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b>{{categoryName}} > {{item.name}}</b></h1>
      <form action='#' method='POST'>
        <p>Name:</p>
            <input type="text" name='name' value='{{item.name}}'>
        <p>Description:</p>
        <textarea name="description" rows="4">{{item.description}}</textarea>
        <p>Category:</p>
        <select id="category" name="category">
          {% for c in categories %}
        	<option value="{{c.name}}">{{c.name}}</option>
          {% endfor %}
        </select>
      </br></br>
            <button type="submit">Save Item</button>
      </form>
    </div>
  </div>
</div>

</div>

<script>
function setSelect(control, value) {
    for (i = 0; i < control.options.length; i++) {
        if (control.options[i].value == value) {
            control.options[i].selected = true;
            break;
        }
    }
    return;
}

setSelect(document.getElementById("category"), "{{categoryName}}");

</script>

</body>
</html>
