<html lang="en">
<title>udacity item catalog project > item detail</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

  <!-- Page content -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><b>Literary Genres</b></h1>
    </div>

    <!-- item detail -->
    <div class="w3-container" id="item detail" style="margin-top:25px">
      <h1 class="w3-large w3-text-blue">
        <b>{{category.name}} > {{item.name}}</b></h1>
        <div>
        <p>{{item.description}}</p>
        </div>
        {% if 'username' in session %}
          <a href='{{url_for('showEditItem', item_name=item.name)}}'><button type="button">Update Item</button></a>
          <a href='{{url_for('showDeleteItem', item_name=item.name)}}'><button type="button">Delete Item</button></a>
        {% endif %}
        <a href='{{url_for('showHome')}}'><button type="button">Home</button></a>
    </div>

  <!-- End page content -->
  </div>
</body>
</html>
